@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 350;
  src: url(./fonts/NotoSans-DemiLight.otf);
}

.wrapper {
  font-family: "Noto Sans", sans-serif;
  font-weight: 350;
}
